.venv
venv
windows_venv
.DS_Store
*.pyc
*.pyo
*.log
build
*.spec
*.egg-info
.vscode
frame_generate.py
pyproject.toml
dist
app
dist
*.egg-info
out
output/
.coverage
.coverage.*
docs
!docs/
!docs/**/
!docs/**/*.md
!docs/**/*.png
!docs/**/*.svg
!docs/**/*.pdf
scenarios
tmp
